@import url("https://fonts.googleapis.com/css?family=Raleway");
body {
  margin-top: 105px;
  font-family: 'Raleway', sans-serif; }
  body i:hover {
    cursor: pointer; }

.navbar {
  transition: top 0.3s; }
  .navbar .nav-item {
    font-size: 1.4rem;
    padding-right: 1.4rem; }

#showcase {
  position: relative;
  background: url("../img/trianglify.png");
  min-height: 600px;
  background-attachment: fixed; }

#newsletter {
  transform: skewY(-4deg); }
  #newsletter .container {
    transform: skewY(4deg); }

#about {
  background: url("../img/trianglify.png");
  background-attachment: fixed; }

.info-header {
  width: 50%;
  margin: auto;
  border-bottom: 1px #ddd solid; }

#authors {
  padding-top: 100px;
  padding-bottom: 100px; }
  #authors img {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: 1.5s ease;
    backface-visibility: hidden;
    border-radius: 15px; }
  #authors .lenghten {
    min-height: 270px;
    max-height: 270px;
    overflow: hidden;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: max-height 2s; }
    #authors .lenghten:hover {
      max-height: 800px;
      cursor: context-menu; }

.card {
  margin-bottom: 50px; }

@media (max-width: 768px) {
  #showcase {
    min-height: 500px; }
    #showcase h1 {
      font-size: 2.7rem; }
  .mb-resp {
    margin-bottom: 1rem; } }

#contact {
  position: relative;
  min-height: 600px;
  padding-top: 175px;
  padding-bottom: 250px;
  height: 100%;
  background: url("../img/mapa.jpg");
  background-attachment: fixed; }
  #contact button {
    margin-top: 100px; }
  #contact img {
    width: 320px;
    height: 320px; }
  #contact .input-group {
    height: 100px; }
  @media (max-width: 1400px) {
    #contact .myvideo {
      display: none; } }
  #contact .forvideo {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    bottom: 0;
    background-color: transparent; }
    #contact .forvideo .myvideo {
      width: 100%; }

.img-overlay {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  background-color: transparent;
  width: 100%; }

.img-box {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  transition: 0.5s ease;
  background-color: white; }

#authors .img-box:hover img {
  transform: scale(0.8);
  border-radius: 15px;
  border: 2px solid black; }

#authors .img-box:hover .img-overlay {
  opacity: 1; }

#authors .img-box i {
  transition: 0.5s ease;
  font-size: 55px;
  color: #343a40;
  padding: 20px; }
  #authors .img-box i:hover {
    color: black; }

#authors .modal-content {
  width: 100%;
  margin: 0 auto; }

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 35%;
    margin: 1.75rem auto; } }

.forvideo::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%; }

.mycontainer {
  width: 98%; }

#contact::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%; }

footer i {
  font-size: 30px;
  transition: .5s ease; }
  footer i:hover {
    color: gray; }
